{{#if resume.references.length}}
<hr class='sectionLine' />
<div id="references">
	<div class='sectionName'>
		<span>References</span>
	</div>
	<div class="sectionContent">
		{{#each resume.references}}
		{{#if reference}}
		<blockquote class="reference">
			{{reference}}
		</blockquote>
		{{/if}}
		{{#if name}}
		<div class="name">
			— {{name}}
		</div>
		{{/if}}
		{{/each}}
	</div>
</div>
{{/if}}