body {
    background: #EEEEEE;
    font: 14px "Helvetica", "Calibri", "Arial", sans-serif;
    line-height: 1.4;
    margin: 40px 0;
}

em {
    color: #999;
}

p {
    line-height: 1.4;
    margin: .3em 0;
}

ul {
    margin-bottom: 0;
}

li {
    margin-bottom: 2px;
}

a {
    text-decoration: none;
    color: #596e9f;
}

#resume {
    margin: 0 auto;
    max-width: 600px;
    padding: 80px 100px;
    background: #fff;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.022),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.032),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.04),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.048),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.058),
    100px 100px 80px rgba(0, 0, 0, 0.08)
  ;
  border-radius: 0.5em;
}

#nameBlock {
    text-align: center;
}

.contactBlock {
    text-align: center;
}

#profilesBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.coursesList {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    column-count: 3;
}

.largeFont {
    font-family: "Garamond", "Cambria", "Times New Roman", "Times";
    font-size: 24px;
}

.mediumFont {
    font-family: "Garamond", "Cambria", "Times New Roman", "Times";
    font-size: 15px;
}

.smallFont {
    font-family: "Helvetica", "Calibri", "Arial";
    font-size: 13px;
}

.tinyFont {
    font-family: "Helvetica", "Calibri", "Arial";
    font-size: 11px;
}

.sectionBlock {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sectionName {
    font-family: "Garamond", "Cambria", "Times New Roman", "Times";
    font-size: 18px;
}

.blockHeader {
    display: flex;
    justify-content: space-between;
}

.blockSubheader {
    display: flex;
    justify-content: space-between;
}

.sectionContent {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    padding-left: 8px;
    border-left: 0.2em solid #ced5e3;
}

.sectionContent ul {
    padding-left: 20px;
    margin-top: 6px;
    list-style-type: disc;
}

.sectionContent .title {
    font: 16px "Garamond", "Cambria", "Times New Roman", "Times",  serif;
    font-weight: bold;
}

.sectionContent .separator {
    height: 14px;
}

.sectionContent li {
    font-size: 12px;
}

.sectionContent .description {
    font-size: 12px;
}

.sectionLine {
    border-style: dashed;
    border-width: 0.01em;
    border-color: #ebedf3;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    margin-left: 5px;
    margin-right: 5px;
}

.summary {
    margin-top: 6px;
}

.skillBlock {
    margin-bottom: 4px;
}

.jobBlock {
    page-break-inside: avoid;
}

.description {
    text-align: left;
}

blockquote.reference {
    margin: 0;
    margin-bottom: 1em;
}


/* Media Queries */

@media only screen and (max-width: 40em) {
    body {
        margin: 0;
        font-size: 12pt;
    }
    #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 2em 2em;
        border: none;
    }
    .sectionBlock {
        flex-direction: column;
    }
    .sectionContent {
        width: 100%;
    }
    .sectionName {
        font-size: 20pt;
    }
    .largeFont {
        font-size: 28pt;
    }
    .smallFont {
        font-size: 14px;
    }
    .blockHeader {
        flex-direction: column;
    }
    .blockSubheader {
        flex-direction: column-reverse;
    }
    .sectionLine {
        margin: 20px 0;
    }
    .sectionContent li {
        font-size: 12pt;
    }        
    .sectionContent .title {
        font-size: 14pt;
        font-weight: bold;
    }    
    .sectionContent .description {
        font-size: 12pt;
    }
    .sectionContent ul {
        margin-top: 6px;
    }
    .sectionContent .separator {
        height: 7px;
    }
    .coursesList {
        column-count: 1;
    }
    #nameBlock {
        display: flex;
        flex-direction: column;
    }
}

@media print {
    body {
        background: #FFFFFF;
        font-size: 11px;
    }
    #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0px 0px;
        border: 0px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    a {
        color: black;
    }
    .largeFont {
        font-size: 23px;
    }
    
    .mediumFont {
        font-size: 13px;
    }
    
    .smallFont {
        font-size: 11px;
    }
    
    .tinyFont {
        font-size: 10px;
    }
    .sectionLine {
        margin: 7px 0;
    }
    .sectionContent li {
        font-size: 10px;
    }        
    .sectionContent .title {
        font-size: 14px;
        font-weight: bold;
    }    
    .sectionContent .description {
        font-size: 10px;
    }
    .sectionContent ul {
        margin-top: 3px;
    }
    .sectionContent .separator {
        height: 7px;
    }
    .sectionName {
        font-size: 15px;
    }
}